header{
    text-align: center;
    color: white;
    background-color: rgb(148, 216, 192);
    margin: 0%;
    height: 80px;
    font-size: xx-large;
    padding: 0%;
}

img{
    width: 500px;
}

p{
    font-size: 30px;
    color: teal;
}

h2{
    font-size: 50px;
    color: rgb(78, 179, 153);
}