body{
    height: 300hv;
}

::-webkit-scrollbar{
    width: 50px;
}

::-webkit-scrollbar-track{
    background-color: blue;
}

::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: red;
}